<% provide(:title, 'Shipping') %>

<div class="row nav-order">
  <button type="button" class="btn btn-success">
    <span class="glyphicon glyphicon-plus-sign" id="plus-new-order" aria-hidden="true"></span>
    <b><%= link_to "New shipment", new_user_shipping_path(current_user), class: "shipment_btn" %></b>
  </button>

  <button type="button" class="btn btn-default" id="next-btn">
    <%= link_to quick_add_user_shippings_path(current_user), class: "view-btn", method: :get do %>
      <i class="fa fa-check-square-o"></i> Quick add
    <% end %>
  </button>

  <div class="btn-group">
  <button class="btn btn-default dropdown-toggle view-btn" id="next-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Display
     <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "This month", user_shippings_path(current_user) %></li>
    <li class = "
          <%= if params[:time] == "#{3.months.ago.beginning_of_month.strftime('%Y-%m-%d')} - #{Time.now.beginning_of_month.strftime('%Y-%m-%d')}"
            'disabled'
          end %>"
    >
      <%= link_to "Last 3 months",
      user_range_orders_path(current_user, :time => "#{3.months.ago.beginning_of_month.strftime('%Y-%m-%d')} - #{Time.now.beginning_of_month.strftime('%Y-%m-%d')}"), method: :get %>
    </li>
    <li class="divider"></li>
    <li><%= link_to "Specific time", "", {'data-toggle' => "modal", 'data-target' => "#timeModal"} %></li>
    <li><%= link_to "Specific shipment", "", {'data-toggle' => "modal", 'data-target' => "#shipmentModal"} %></li>
    <li class="divider"></li>
    <li><%= link_to "All shipments", all_user_shippings_path(current_user) %></li> 
  </ul>
  </div>

  <% unless @shipment.try(:empty?) %>
  <h5 class="text-muted pull-right">Showing shipments from <%= @from.try(:to_date).try(:strftime, "%m/%d/%y") %> to <%= @to.try(:to_date).try(:strftime, "%m/%d/%y") %></h5>
  <% end %>
</div>


<% if @shipments.try(:empty?) %>
  <div class="row" style="margin-top: 70px;">
    <p class="lead text-muted text-center" style="font-size: 30px;">No records found</p>
  </div>
<% else %>
  <%= render 'shipping_table' %>
<% end %>


<!-- Modal -->
<%= render 'time_modal' %>
<%= render 'shipping_modal' %>

<script type="text/javascript">
$(document).ready(function() {
  $('.daterange').daterangepicker({format: 'YYYY-MM-DD'});
});
</script>