<%= provide(:title, 'Shipment Detail') %>

<div class="row nav-show">
<nav id="back_next">
  <ul class="pager">
    <li class="previous"><%= link_to raw('<span aria-hidden="true">&larr;</span> Previous'), 
                             user_shipping_path(current_user, @shipment.prev(current_user.id)), class: "order_btn" %>
    </li>
    <li class="next"><%= link_to raw('Next <span aria-hidden="true">&rarr;</span>'),
                         user_shipping_path(current_user, @shipment.next(current_user.id)), class: "order_btn" %>
    </li>
  </ul>
</nav>
<h1>Shipment #<%= @shipment.id %></h1>
</div>


<div class="row">
 <div class="col-md-6 col-md-offset-3">

 <fieldset class="field">
   <legend></legend>

   <p class="p_order"><b>Ship date:</b><span class="tab-space">
    <%= @shipment.ship_date.try(:strftime, "%B %d, %Y") %>
   </p>

   <p class="p_order"><b>Number of Orders:</b><span class="tab-space"><%= @shipment.orders.count %></p>

   <p class="p_order"><b>Orders:</b><span class="tab-space"><%= @shipment.order_fields %></p>

   <p class="p_order"><b>Note:</b><span class="tab-space"><%= @shipment.description %></p>

   <legend class="field"></legend>

   <table class="table table-striped">
   <tbody class="p_order">
   <tr>
      <td><b>Total Price:</b></td>
      <td>$ <%= @shipment.price.to_f %></td>
   </tr>
   <tr>
      <td><b>Price per Order:</b></td>
      <td><b>$ <%= @shipment.orders.first.try(:shipping_vn).try(:to_f) %></b></td>
   </tr>
   </table>

   <legend class="field">In this shipment:</legend>

  </div>

<div class="nowrap">
<div class="full-width-div">
<table class="table table-bordered table-hover table-align">
    <thead>
    <tr class="active">
      <th width ="300">Note</th>
      <th width ="110"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> US</th>
      <th width ="110"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> VN</th>
      <th width ="300">Store</th>
      <th width ="110">Order Date</th>
      <th width = "50"><%= sortable("id", "Order# ") %> <%= arrow "id" %></th>
      <th width = "400">Customer</th>
      <th width ="300">Description</th>
      <th width ="400">Web Order#</th>
      <th width ="50">Image</th>
      <th width ="50">Web Price</th>
      <th width ="150">Tax</th>
      <th width ="150">Ship US</th>
      <th width ="150">Reward</th>
      <th width ="150">Total</th>
      <th width ="150">Ship VN</th>
      <th width ="150">Total Cost</th>
      <th width ="150">Selling Price</th>
      <th width ="150">Profit</th>
      <th width ="150">Deposit</th>
      <th width = "100">Remain</th>
      <th width ="150">Action</th>
    </tr>
    </thead>

   <% @orders.each do |order| %>
    <tbody>
        <tr>
          <td><%= order.note %></td>
          <td><%= receive_check(order.received_us) %></td>
          <td><%= order.ship_vn.try(:strftime, "%m/%d/%y") %></td>
          <td><a href="/users/<%= current_user.id %>/stores/<%= order.store_id %>" target="_blank" class="customer"><%= order.store.try(:name).try(:titleize) %></a></td>
          <td><%= order.order_date.try(:strftime, "%m/%d/%y") %></td>
          <td><b><a href="<%= user_order_path(current_user, order) %>" target="_blank" class="customer"><%= order.id %></a></b></td>
          <% if order.customer.try(:name) == "for sale" %>
            <td class="info"><b><%= order.customer.try(:name).try(:upcase) %></b></td>
          <% else %>
             <td><a href="/users/<%= current_user.id %>/customers/<%= order.customer_id %>" target="_blank" class="customer"><%= order.customer.try(:name).try(:titleize) %></a></td>
          <% end %>
          <td><%= order.description %></td>
          <td><%= order.web_order_id %></td>
          <td>
            <% if order.image_link.present? %>
            <strong>
              <a href="#" data-toggle="tooltip">View</a>
            </strong>
            <%= javascript_tag do %>
              var img = "<img src='<%= order.image_link %>' height='150' width='150' />";
              $('[data-toggle="tooltip"]').tooltip({ title: img, html: true });
            <% end %>
            <% end %>
          </td>
          <td>$<%= order.web_price.to_f %></td>
          <td>$<%= order.tax.to_f %></td>
          <td>$<%= order.shipping_us.to_f %></td>
          <td>$<%= order.reward.to_f %></td>
          <td class="warning"><b>$<%= order.total.to_f %></b></td>
          <td>$<%= order.shipping_vn.to_f %></td>
          <td class="warning"><b><%= number_with_delimiter(order.total_cost.to_f.floor, :delimiter => ',') %></b></td>
          <td><%= number_with_delimiter(order.selling_price.to_f.floor, :delimiter => ',') %></td>
          <td class=<%= order.profit > 0 ? "success" : "danger" %>>
            <b><%= number_with_delimiter(order.profit.to_f.floor, :delimiter => ',') %></b>
          </td>
          <td><%= number_with_delimiter(order.deposit.to_f.floor, :delimiter => ',') %></td>
          <td><%= number_with_delimiter(order.remain.to_f.floor, :delimiter => ',') %></td>
          <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to "Edit", edit_user_order_path(current_user, order.id) %></li>
              <li><%= link_to "Detail", user_order_path(current_user, order.id) %></li>
              <li class="divider"></li>
              <li><%= link_to "Remove", user_order_remove_path(current_user, order.id) %></li>
            </ul>
          </div>
          </td>
        </tr>      
    </tbody>
    <% end %>
  </table>
</div>
</div>

  <div class="col-md-6 col-md-offset-3">

  <legend class="field"></legend>

  <%= link_to "Edit", edit_user_shipping_path(current_user, @shipment.id), class: "btn btn-lg btn-warning" %>
  <%= link_to "Delete", 
      user_shipping_path(current_user, @shipment.id),
      method: :delete, data: { confirm: 'Delete this shipment will also reset all of its orders values.'},
      class: "btn btn-lg btn-danger" %>
  <%= link_to "Cancel", :back, class: "btn btn-lg btn-default pull-right", method: :get %>

  </div>
  
 </fieldset>
</div>