<div class="jumbotron">
<div class="container" style="padding-top: 80px; padding-bottom: 100px;">
  <h1>Welcome to Gotato!</h1>
  <h3 class="jumbo-text text-muted">Our online sales database</h3>
  
  <button class="btn btn-lg btn-danger button_div">
    <strong><%= link_to "Sign up now!", signup_path, class: "shipment_btn" %></strong>
  </button>
</div>
</div>

<legend></legend>
<div class="row" style="padding-top: 20px; padding-bottom: 25px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text">What is Gotato?</p>
  	<p class="lead">A powerful online database that helps online shopkeeper mange sales data.</p>
  	<p class="lead">Written exclusively for <%= link_to "Trendy Alley Shop", "https://www.facebook.com/trendy.alley", :target => "_blank" %>.</p>
  </div>
</div>

<legend></legend>
<div class="row" style="padding-top: 20px; padding-bottom: 30px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text">
  	  We want to end dependence on Excel.
  	</p>
    <p><i class="fa fa-spinner fa-spin fa-3x"></i></p>
    <p class="lead">
  	  For a reseller with thousands of orders, keeping data on Excel can cause many problems:
  	</p>
    <p class="lead">
  	  <em>Sales productivity decreases as the number of records and users increase.</em>
  	</p>
  	<p class="lead">
  	  <em>Too many worksheets make it hard to visualize how data fits together.</em>
  	</p>
  	<p class="lead">
  	  <em>A hardware failure or virus can potentialy mess up the data files.</em>
  	</p>
    <p class="lead">
      <em>...</em>
    </p>
  </div>
</div>

<legend></legend>
<div class="row" style="padding-top: 20px; padding-bottom: 25px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text text-muted">
  	  Gotato was built to solve those problems.
  	</p>
  	<p class="lead home-text">How?</p>
  </div>
</div>

<legend></legend>
<div class="row" style="padding-top: 30px; padding-bottom: 30px;">
  <div class="col-xs-12 col-md-5 col-md-offset-2">
	<h2>Smart and Simple</h2>
  <p class="lead" style="margin-top: 20px;">
    Gotato automatically does all the heavy lifting for our users, from calculate data to generate sale reports. Gotato minimizes the hassle our users have to face daily in Excel.
  </p>
  <p class="lead" style="margin-top: 20px;">
    Users can view all information on the same page with spreadsheet-style interface.
  </p>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= image_tag("placeit.png.jpg", :alt => "graph", class: "image") %>
  </div>
</div>


<legend></legend>
<div class="row" style="padding-top: 20px; padding-bottom: 30px;">
  <div class="col-xs-12 col-md-4 col-md-offset-2">
    <%= image_tag("placeit.png", :alt => "graph", class: "image2") %>
  </div>
  <div class="col-xs-12 col-md-5">
  <h2>Accessible</h2>
  <p class="lead" style="margin-top: 20px;">
    Work as a team. Our user, with a manager account, at the U.S. can work on the same data with a seller in VN seamlessly. All users can access the database anytime, anywhere.
  </p>
  <p class="lead">
    Gotato interface was created to be respondsive, mobile friendly.
  </p>
  </div>
</div>

<legend></legend>
<div class="row" style="padding-top: 30px; padding-bottom: 30px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
  <h2><i class="fa fa-lock"></i> Safe and Secure</h2>
  <p class="lead" style="margin-top: 20px;">
    Gotato secures the database with authentication check. All users information is encrypted, ensuring no unauthorized users can access the data files.
  </p>
  <p class="lead">
    Different types of users have different types of permissions: A manager account can have full access to create and manage all resources, while a seller account have limited access and can only work with the manager's shared data.
  </p>
  </div>
</div>

<legend></legend>
<div class="row" style="padding-top: 40px; padding-bottom: 50px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  	<p class="lead home-text">
  	  Interested?
  	</p>
  	<p class="lead"><%= link_to "Check out the overview page.", "" %></p>
  	<p class="lead">
  		This project is also open source on <%= link_to "https://github.com/LongPotato/Gotato", class: "sort-header", :target => "_blank" do %>
            <i class="fa fa-github-square"></i> GitHub.
          <% end %>
        </li>
  	</p>
  </div>
</div>
<legend></legend>