<% if logged_in? %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  	<div class="text-center">

  	  <h1> Welcome, <%= current_user.name.capitalize %> </h1>
   
      <div class="info-panel">
      <p class="lead">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <%= pluralize(current_user.orders.count, "order") %><span class="tab-space">
        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
        <%= pluralize(current_user.shippings.uniq.count, "shipment") %><span class="tab-space">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= pluralize(current_user.customers.count, "customer") %>
      </p>
      </div>
    </div>
    </div>
  </div>

  <div class="recent">
    <legend class="field">Order status <small class="pull-right text-muted">This month - <%= @this_month.month_record.strftime("%B, %Y")%></small></legend>
  </div>
  
  <div class="row customer-table">
    <div class="col-md-8 col-md-offset-2">

      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: <%= @completed %>%">
          Completed
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= @received %>%">
          Pending
        </div>
        <div class="progress-bar progress-bar-danger" style="width: <%= @not_received %>%">
          Remaining
        </div>
      </div>

    </div>
  </div>

  <div class="recent">
    <legend class="field">Recent activities</legend>
  </div>
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render_activities @activities %>
    </div>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Gotato!</h1>
    <h3>Your online sales database</h3>
  
    <div class="button_div">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
    </div>

  </div>
<% end %>