<% if logged_in? %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  	<div class="text-center">

  	  <h1> <%= greeting_message %>, <%= current_user.name.titleize %> </h1>
   
    </div>
    </div>
  </div>

  <div class="recent">
    <legend class="field">Today</legend>
  </div>

  <div class="row customer-table">
    <div class="col-md-3 col-md-offset-2">
      <div>
        <p style="font-size: 18px;">
          <i class="fa fa-usd"></i> <strong>Exchange rate:</strong><span class="tab-space"></span><%= number_with_delimiter(current_user.setting_vnd.floor, :delimiter => ',') %> VND
        </p>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-2">
      <div>
        <p style="font-size: 18px;"><%= Time.now.strftime("%m/%d/%Y") %></p>
      </div>
    </div>

  </div>

  <div class="row customer-table">
    <div class="col-md-8 col-md-offset-2">
    <% if current_user.note.nil? || current_user.note.try(:empty?) %>
      <button type="button" class="btn btn-small btn-default" data-toggle="modal" data-target="#myModal"><strong><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Create note</strong></button>
    <% else %>
      <p style="font-size: 18px;">
        <strong><%= link_to "", {'data-toggle' => "modal", 'data-target' => "#myModal"} do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %> Note: </strong><span class="tab-space"></span><%= current_user.note %>
      </p>
    <% end %>
    </div>
  </div>

  <div class="recent">
    <legend class="field">Order overview <small class="pull-right text-muted">This month - <%= Time.now.strftime("%B, %Y") %></small></legend>
  </div>
  
  <div class="row customer-table">
    <div class="col-md-8 col-md-offset-2">

    <% if @this_month.nil? || @this_month.try(:orders).empty? %>
      <p class="text-center text-muted lead">No order</p> 
    <% else %>
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: <%= @completed %>%">
          Completed
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= @received %>%">
          Pending
        </div>
        <div class="progress-bar progress-bar-danger" style="width: <%= @not_received %>%">
          Remaining
        </div>
      </div>
    <% end %>

    </div>
  </div>

  <div class="recent">
    <legend class="field">Recent activities</legend>
  </div>
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render_activities @activities %>
    </div>
  </div>

  <%= render 'note_modal' %>

<% else %>
  <%= render 'front_page' %>
<% end %>