<% provide(:title, "Sign in") %>

<h1>Sign in</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <%= bootstrap_form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email %>

    <%= f.password_field :password %>

    <%= f.check_box :remember_me %>

    <%= f.submit "Log me in", class: "btn btn-primary" %>
    <span>
      New user? <%= link_to "Sign up now!", signup_path %>
    </span>
  <% end %>

  </div>
</div>