<% provide(:title, "Edit Store Info") %>

<h1>Store Info</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">

  <%= bootstrap_form_for([@user, @store]) do |f| %>

    <legend class="field"></legend>

    <p class="p_order"><b>Store name:</b><span class="tab-space">
      <%= @store.name.try(:titleize) %>
    </p>

    <legend class="field"></legend>

    <%= f.text_area :note %>

    <legend class="field"></legend>

    <%= f.submit "Submit", class: "btn btn-lg btn-info" %>

    <%= link_to "Cancel", :back, class: "btn btn-lg btn-default" %>
  <% end %>
 </div>
</div>