<%= provide(:title, 'Store Profile') %>

<div class="row nav-show">
<nav id="back_next">
  <ul class="pager">
    <li class="previous"><%= link_to raw('<span aria-hidden="true">&larr;</span> Previous'), 
                             user_store_path(current_user, @store.prev), class: "order_btn" %>
    </li>
    <li class="next"><%= link_to raw('Next <span aria-hidden="true">&rarr;</span>'),
                         user_store_path(current_user, @store.next), class: "order_btn" %>
    </li>
  </ul>
</nav>
<h1>Store Profile</h1>
</div>

<div class="row">
 <div class="col-md-6 col-md-offset-3">

 <fieldset class="field">
   <legend></legend>

   <p class="p_order"><b>Store name:</b><span class="tab-space">
    <%= @store.name.try(:titleize) %>
   </p>

   <legend class="field"></legend>

   <p class="p_order"><b>Note:</b><span class="tab-space">
    <address><%= @store.note %></address>
   </p>

   <legend class="field"></legend>

   <p class="p_order"><b>Number of Orders:</b><span class="tab-space"><%= @store.orders.count %></p>

   <legend class="field">Recent orders:</legend>

  </div>

  <%= render 'orders/order_table' %>

  <div class="col-md-6 col-md-offset-3">

  <% if @store.orders.count > 8 %>
    <div class="text-center" style="font-size: 18px;"><%= link_to "View all orders >>", show_table_user_orders_path(current_user, :store => true, :store_id => @store.id), target: "_blank" %></div>
  <% end %>

  <legend class="field"></legend>

  <%= link_to "Edit Info", edit_user_store_path(current_user,@store.id), class: "btn btn-lg btn-info" %>
  <%= link_to "Cancel", :back, class: "btn btn-lg btn-default pull-right", method: :get %>

  </div>
  
 </fieldset>
</div>