<% provide(:title, 'Search Result') %>

<div class="row">
<div class="col-md-8 col-md-offset-2">

  <p class="lead">Search found <%= pluralize(@count, "result") %> for "<%= @search_term %>"</p>

  <% unless @results.empty? %>
  <% @results.each do |result| %>
    <% if result.class == Order %>
	  <table class="table table-hover table-align" style="font-size: 14px;">
	  <tbody>
	    <tr>
	      <td width="10"><i class="fa fa-file"></i></td>
	      <td width="150">
	        <%= link_to user_order_path(current_user, result) do %>
	        Order #<%= result.id %>
	        <% end %>
	      </td>
	      <td width="200">Customer: <%= result.customer.name.try(:titleize) %></td>
	      <td width="300"><%= result.description %></td>
	    </tr>
	  </tbody>
	  </table>
	<% elsif result.class == Shipping %>
      <table class="table table-hover table-align" style="font-size: 14px;">
	  <tbody>
	    <tr>
	      <td width="10"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></td>
	      <td width="150">
	        <%= link_to user_shipping_path(current_user, result) do %>
	        Shipment #<%= result.id %>
	        <% end %>
	      </td>
	      <td width="200"><%= pluralize(result.orders.count, "order") %></td>
	      <td width="300">Ship date: <%= result.ship_date.strftime('%m/%d/%Y') %></td>
	    </tr>
	  </tbody>
	  </table>
	<% elsif result.class == Customer %>
      <table class="table table-hover table-align" style="font-size: 14px;">
	  <tbody>
	    <tr>
	      <td width="10"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
	      <td width="150">
	        <%= link_to user_customer_path(current_user, result) do %>
	        Customer <%= result.name.try(:titleize) %>
	        <% end %>
	      </td>
	      <td width="200"></td>
	      <td width="300">Number of orders: <%= result.orders.count %></td>
	    </tr>
	  </tbody>
	  </table>
	<% elsif result.class == Store %>
	  <table class="table table-hover table-align" style="font-size: 14px;">
	  <tbody>
	    <tr>
	      <td width="10"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></td>
	      <td width="150">
	        <%= link_to user_store_path(current_user, result) do %>
	        Store <%= result.name.try(:titleize) %>
	        <% end %>
	      </td>
	      <td width="200"></td>
	      <td width="300">Number of orders: <%= result.orders.count %></td>
	    </tr>
	  </tbody>
	  </table>
    <% end %>
  <% end %>
  <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
  <% else %>
    <legend></legend>
    <p style="font-size: 18px;">Your search did not match any records.</p>
    <p style="font-size: 18px;">You can search for:</p>
    <ul style="font-size: 16px;">
      <li>Order & shipment ID.</li>
      <li>Order's description.</li>
      <li>Customer's & store's name.</li>
    </ul>
  <% end %>

</div>
</div>