<%= provide(:title, 'Customer Profile') %>

<div class="row nav-show">
<nav id="back_next">
  <ul class="pager">
    <li class="previous"><%= link_to raw('<span aria-hidden="true">&larr;</span> Previous'), 
                             user_customer_path(current_user, @customer.prev), class: "order_btn" %>
    </li>
    <li class="next"><%= link_to raw('Next <span aria-hidden="true">&rarr;</span>'),
                         user_customer_path(current_user, @customer.next), class: "order_btn" %>
    </li>
  </ul>
</nav>
<h1>Customer Profile</h1>
</div>

<div class="row">
 <div class="col-md-6 col-md-offset-3">

 <fieldset class="field">
   <legend></legend>

   <p class="p_order"><b>Customer name:</b><span class="tab-space">
    <%= @customer.name.try(:titleize) %>
   </p>

   <legend class="field"></legend>

   <p class="p_order"><b>Address:</b><span class="tab-space">
    <address><%= @customer.address %></address>
   </p>

   <p class="p_order"><b>Bank Info:</b><span class="tab-space">
    <address><%= @customer.bank %></address>
   </p>

   <legend class="field"></legend>

   <p class="p_order"><b>Number of Orders:</b><span class="tab-space"><%= @customer.orders.count %></p>

   <p class="p_order"><b>Member since:</b><span class="tab-space"><%= @customer.created_at.try(:strftime, "%B %d, %Y") %></p>

   <legend class="field">Order history:</legend>

  </div>

  <%= render 'orders/order_table' %>

  <div class="col-md-6 col-md-offset-3">

  <legend class="field"></legend>

  <%= link_to "Edit Info", edit_user_customer_path(current_user,@customer.id), class: "btn btn-lg btn-info" %>
  <%= link_to "Cancel", :back, class: "btn btn-lg btn-default pull-right", method: :get %>

  </div>
  
 </fieldset>
</div>