<% provide(:title, 'Orders') %>

<div class="row nav-order">
  <button type="button" class="btn btn-success">
    <span class="glyphicon glyphicon-plus-sign" id="plus-new-order" aria-hidden="true"></span>
    <b><%= link_to "New order", new_user_order_path(current_user), class: "shipment_btn" %></b>
  </button>
  <div class="btn-group">
  <button class="btn btn-default dropdown-toggle view-btn" id="next-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Filter orders
     <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="<%= 'active' if params[:status] %>"><%= link_to "For Sale", {:status => "1"}, method: :get %></li>
    <li class="<%= 'active' if params[:placed] %>"><%= link_to "Ordered", {:placed => "1"}, method: :get  %></li>
  </ul>
  </div>
</div>


<%= render 'order_table' %>