<% provide(:title, 'Orders') %>

<div class="row nav-order">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-plus-sign" id="plus-new-order" aria-hidden="true"></span>
      <b>New order</b>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "New direct order", new_user_order_path(current_user) %></a></li>
      <li><a href="#">From inventory</a></li>
    </ul>
  </div>
</div>

<div class="nowrap">
<div class="full-width-div">
<table class="table table-bordered table-hover table-align">
    <thead>
    <tr class="active">
      <th width ="300">Note</th>
      <th width ="110">Received US</th>
      <th width ="110">Shipped to VN</th>
      <th width ="150">Ship ID</th>
      <th width ="300">Store</th>
      <th width ="110">Order Date</th>
      <th width = "50"><%= sortable "id", "Order# " %> <%= arrow "id" %></th>
      <th width = "400">Customer</th>
      <th width ="300">Description</th>
      <th width ="400">Web Order#</th>
      <th width ="50">Image</th>
      <th width ="50">Web Price</th>
      <th width ="150">Tax</th>
      <th width ="150">Ship US</th>
      <th width ="150">Reward</th>
      <th width ="150">Total</th>
      <th width ="150">Ship VN</th>
      <th width ="150">Total Cost</th>
      <th width ="150">Selling Price</th>
      <th width ="150">Profit</th>
      <th width ="150">Deposit</th>
      <th width = "100">Remain</th>
      <th width ="150">Action</th>
    </tr>
    </thead>

    <% @orders.each do |order| %>
    <tbody>
        <tr>
          <td><%= order.note %></td>
          <td><%= receive_check(order.received_us) %></td>
          <td><%= order.ship_vn.try(:strftime, "%B %d, %Y") %></td>
          <td><a href="/users/<%= current_user.id %>/shippings/<%= order.shipping_id %>" target="_blank"><%= order.shipping_id %></a></td>
          <td><%= order.store.try(:titleize) %></td>
          <td><%= order.order_date.try(:strftime, "%B %d, %Y") %></td>
          <td><b><%= order.id %></b></td>
          <td><%= order.customer.try(:name).try(:titleize) %></td>
          <td><%= order.description %></td>
          <td><%= order.web_order_id %></td>
          <td>
            <% if order.image_link.present? %>
            <strong>
              <a href="#" data-toggle="tooltip">View</a>
            </strong>
            <%= javascript_tag do %>
              var img = "<img src='<%= order.image_link %>' height='150' width='150' />";
              $('[data-toggle="tooltip"]').tooltip({ title: img, html: true });
            <% end %>
            <% end %>
          </td>
          <td>$<%= order.web_price.to_f %></td>
          <td>$<%= order.tax.to_f %></td>
          <td>$<%= order.shipping_us.to_f %></td>
          <td>$<%= order.reward.to_f %></td>
          <td class="warning"><b>$<%= order.total.to_f %></b></td>
          <td>$<%= order.shipping_vn.to_f %></td>
          <td class="warning"><b><%= number_with_delimiter(order.total_cost.to_f.floor, :delimiter => ',') %></b></td>
          <td><%= number_with_delimiter(order.selling_price.to_f.floor, :delimiter => ',') %></td>
          <td class=<%= order.profit > 0 ? "success" : "danger" %>>
            <b><%= number_with_delimiter(order.profit.to_f.floor, :delimiter => ',') %></b>
          </td>
          <td><%= number_with_delimiter(order.deposit.to_f.floor, :delimiter => ',') %></td>
          <td><%= number_with_delimiter(order.remain.to_f.floor, :delimiter => ',') %></td>
          <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to "Edit", edit_user_order_path(current_user, order.id) %></li>
              <li><%= link_to "Detail", user_order_path(current_user, order.id) %></li>
              <li class="divider"></li>
              <li><%= link_to "Delete", user_order_path(current_user, order.id), method: :delete %></li>
            </ul>
          </div>
          </td>
        </tr>      
    </tbody>
    <% end %>

  </table>
</div>
</div>