<% provide(:title, 'Orders') %>

<div class="row nav-order">
  <button type="button" class="btn btn-success">
    <span class="glyphicon glyphicon-plus-sign" id="plus-new-order" aria-hidden="true"></span>
    <b><%= link_to "New order", new_user_order_path(current_user), class: "shipment_btn" %></b>
  </button>
  
  <div class="btn-group">
  <button class="btn btn-default dropdown-toggle view-btn" id="next-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
     <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Clear all", params.merge(:sale => nil, :placed => nil, :received => nil, :not => nil, :authenticity_token => nil), method: :get %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if params[:sale] %>"><%= link_to "For Sale", {:sale => true, :authenticity_token => nil}, method: :get %></li>
    <li class="<%= 'active' if params[:placed] %>"><%= link_to "Ordered", {:placed => true, :authenticity_token => nil}, method: :get  %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if params[:received] %>"><%= link_to "Received", params.merge(:received => true, :authenticity_token => nil), method: :get %></li>
    <li class="<%= 'active' if params[:not] %>"><%= link_to "Not Received", params.merge(:not => true, :authenticity_token => nil), method: :get %></li>
  </ul>
  </div>

  <div class="btn-group">
  <button class="btn btn-default dropdown-toggle view-btn" id="next-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Display
     <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="disabled"><%= link_to "This month", ""%></li>
    <li>
      <%= link_to "Last 3 months",
      user_range_orders_path(current_user, :time => "#{3.months.ago.beginning_of_month.strftime('%Y-%m-%d')} - #{Time.now.beginning_of_month.strftime('%Y-%m-%d')}"), method: :get %>
    </li>
    <li class="divider"></li>
    <li><%= link_to "Specific time", "", {'data-toggle' => "modal", 'data-target' => "#timeModal"} %></li>
    <li><%= link_to "Specific order", "", {'data-toggle' => "modal", 'data-target' => "#orderModal"} %></li>
    <li class="divider"></li>
    <li><%= link_to "All orders", all_user_path(current_user), method: :get  %></li> 
  </ul>
  </div>

  <h5 class="text-muted pull-right">This month's orders</h5>
</div>

<%= render 'order_table' %>

<!-- Modal -->
<%= render 'time_modal' %>
<%= render 'order_modal' %>

<script type="text/javascript">
$(document).ready(function() {
  $('.daterange').daterangepicker({format: 'YYYY-MM-DD'});
});
</script>