<%= provide(:title, 'New order') %>

<h1>New Order</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">

   <%= bootstrap_form_for([@user, @order]) do |f| %>
      <%= f.hidden_field :user_id, :value => @user.id %>

      <%= f.text_area :note %>

      <legend class="field"></legend>

      <%= f.check_box :received_us, label: "Received at U.S." %>

      <%= f.text_field :ship_vn, icon: "calendar", 'data-provide' => 'datepicker', 
          label: "Shipped to VN", :class => "datepicker", help: "Manually enter the date or create a new shipment in Shipping" %>

      <%= f.text_field :store %>

      <%= f.text_field :order_date, icon: "calendar", 'data-provide' => 'datepicker', :class => "datepicker", help: "yyyy-mm-dd", value: Time.now.strftime('%Y-%m-%d') %>

      <legend class="field"></legend>

      <%= f.fields_for :customer do |c| %>
        <%= c.text_field :name, label: "Customer" %>
      <% end %>

      <%= f.text_area :description %>

      <%= f.text_field :web_order_id, label: "Web Order #" %>

      <%= f.url_field :image_link, label: "Image URL" %>

      <legend class="field"></legend>
      
      <%= f.text_field :web_price, prepend: "$" %>

      <%= f.text_field :tax, prepend: "$" %>

      <%= f.text_field :shipping_us, prepend: "$", label: "Ship US" %>

      <%= f.text_field :reward, prepend: "$" %>

      <legend class="field"></legend>

      <%= f.text_field :vnd, prepend: "VND", label: "USD to VND exchange rate", help: "Enter today exchange rate or use your predefined value in setting"  %>

      <%= f.check_box :use_user_rate, label: "Use my exchange rate in setting: #{number_with_delimiter(@user.setting_vnd.floor, :delimiter => ',')}" %>

      <legend class="field"></legend>

      <%= f.text_field :selling_price, prepend: "VND" %>

      <%= f.text_field :deposit, prepend: "VND" %>

      <legend class="field"></legend>
      
      <%= f.submit "Create new", class: "btn btn-lg btn-success" %>

      <%= link_to "Cancel", user_orders_path(current_user), class: "btn btn-lg btn-default", method: :get %>

   <% end %>
 </div>
</div>

<script>
  $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
