<%= provide(:title, 'Order Detail') %>

<div class="row nav-show">
<nav id="back_next">
  <ul class="pager">
    <li class="previous"><%= link_to raw('<span aria-hidden="true">&larr;</span> Previous'), 
                             user_order_path(current_user,@order.prev), class: "order_btn" %>
    </li>
    <li class="next"><%= link_to raw('Next <span aria-hidden="true">&rarr;</span>'),
                         user_order_path(current_user,@order.next), class: "order_btn" %>
    </li>
  </ul>
</nav>
<h1>Order #<%=@order.id%></h1>
</div>


<div class="row">
 <div class="col-md-6 col-md-offset-3">

 <fieldset class="field">
   <legend></legend>

   <p class="p_order"><b>Note:</b><span class="tab-space"><%= @order.note %></p>

   <p class="p_order"><b>Store:</b><span class="tab-space"><%= @order.store.try(:titleize) %></p>

   <p class="p_order"><b>Customer:</b><span class="tab-space">
    <a href="/users/<%= current_user.id %>/customers/<%= @order.customer_id %>" target="_blank"><%= @order.customer.try(:name).try(:titleize) %></a>
   </p>
   <p class="p_order"><b>Description:</b><span class="tab-space"><%= @order.description %></p>

   <p class="p_order"><b>Web Order #:</b><span class="tab-space"><%= @order.web_order_id %></p>
   
   <% if @order.image_link.present? %>
   <legend class="field"></legend>
   <%= image_tag @order.image_link.url if @order.image_link? %>
   <% end %>

   <legend class="field"></legend>

   <p class="p_order"><b>Order Date:</b><span class="tab-space">
    <%= @order.order_date.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Received US:</b><span class="tab-space">
    <%= receive_check(@order.received_us) %>
   </p>
   <p class="p_order"><b>Shipped to VN:</b><span class="tab-space">
    <%= @order.ship_vn.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Ship ID:</b><span class="tab-space">
    <% if @order.shipping_id .present? %>
      <span>
        <%= @order.shipping_id %><span class="tab-space">
        <%= link_to "View shipment", user_shipping_path(current_user, @order.shipping_id), target: "_blank" %>
      </span>
    <% end %>
   </p>

   <legend class="field"></legend>

   <table class="table">
   <tbody class="p_order">
   <tr>
      <td><b>Web price:</b></td>
      <td></td>
      <td>$ <%= @order.web_price.to_f %></td>
   </tr>
   <tr>
      <td><b>Tax:</b></td>
      <td><span class="glyphicon glyphicon-plus math-show-order" aria-hidden="true"></span></td>
      <td>$ <%= @order.tax.to_f %></td>
   </tr>
   <tr>
      <td><b>Ship US:</b></td>
      <td><span class="glyphicon glyphicon-plus math-show-order" aria-hidden="true"></span></td>
      <td>$ <%= @order.shipping_us.to_f %></td>
   </tr>
   <tr>
      <td><b>Reward:</b></td>
      <td><span class="glyphicon glyphicon-minus math-show-order" aria-hidden="true"></span></td>
      <td>$ <%= @order.reward.to_f %></td>
   </tr>
   <tr>
      <td><b>Total:</b></td>
      <td></td>
      <td><b>$ <%= @order.total.to_f %></b></td>
   </tr>
   </tbody>


   <tbody class="p_order">
   <tr>
      <td><b>Ship VN:</b></td>
      <td><span class="glyphicon glyphicon-plus math-show-order" aria-hidden="true"></span></td>
      <td>$ <%= @order.shipping_vn.to_f %></td>
   </tr>
   <tr>
      <td><b>Total Cost in VND:</b></td>
      <td></td>
      <td><b><%= number_with_delimiter(@order.total_cost.to_f, :delimiter => ',') %></b></td>
   </tr>
   </tbody>
   </table>

   <samp class="verticle-space">USD exchange rate for this order: <%= @order.vnd %></samp>

   <legend class="field"></legend>
   
   <table class="table table-striped">
   <tbody class="p_order">
   <tr>
      <td><b>Selling Price:</b></td>
      <td><%= number_with_delimiter(@order.selling_price.to_f, :delimiter => ',') %></td>
   </tr>
   <tr class=<%= @order.profit > 0 ? "info" : "danger" %>>
      <td><b>Profit:</b></td>
      <td><b><%= number_with_delimiter(@order.profit.to_f, :delimiter => ',') %></b></td>
   </tr>
   <tr>
      <td><b>Deposit:</b></td>
      <td><%= number_with_delimiter(@order.deposit.to_f, :delimiter => ',') %></td>
   </tr>
   <tr>
      <td><b>Remained Amount:</b></td>
      <td><%= number_with_delimiter(@order.remain.to_f, :delimiter => ',') %></td>
   </tr>
   </tbody>
   </table>

   <legend class="field"></legend>

   <%= link_to "Edit", edit_user_order_path(current_user, @order.id), class: "btn btn-lg btn-warning" %>
   <%= link_to "Delete", user_order_path(current_user, @order.id), method: :delete, class: "btn btn-lg btn-danger" %>
   <%= link_to "Cancel", :back, class: "btn btn-lg btn-default pull-right", method: :get %>

 </fieldset>

 </div>
</div>