<%= provide(:title, 'Order detail') %>

<div class="row nav-show">
<nav id="back_next">
  <ul class="pager">
    <li class="previous"><%= link_to raw('<span aria-hidden="true">&larr;</span> Previous'), 
                             user_order_path(current_user,@order.prev), class: "order_btn" %>
    </li>
    <li class="next"><%= link_to raw('Next <span aria-hidden="true">&rarr;</span>'),
                         user_order_path(current_user,@order.next), class: "order_btn" %>
    </li>
  </ul>
</nav>
<h1>Order #<%=@order.id%></h1>
</div>


<div class="row">
 <div class="col-md-6 col-md-offset-3">

 <fieldset class="field">
   <legend></legend>

   <p class="p_order"><b>Name:</b><span class="tab-space"><%= @order.name.capitalize %></p>
   <p class="p_order"><b>Quantity:</b></b><span class="tab-space"><%= @order.quantity %></p>
   <p class="p_order"><b>Customer:</b></b><span class="tab-space">
    <%= @order.customer.try(:name).try(:capitalize) %>
   </p>
   <p class="p_order"><b>Description:</b></b><span class="tab-space"><%= @order.description %></p>
   <p class="p_order"><b>Note:</b></b><span class="tab-space"><%= @order.note %></p>
   <p class="p_order"><b>Store:</b></b><span class="tab-space"><%= @order.store.try(:capitalize) %></p>

   <% if @order.image_link.present? %>
   <legend class="field"></legend>
   <img src="<%= @order.image_link %>" alt="Order image" height="200" width="300">
   <% end %>

   <legend class="field"></legend>

   <p class="p_order"><b>Order date:</b><span class="tab-space">
    <%= @order.order_date.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Receive US:</b><span class="tab-space">
    <%= @order.receive_us.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Ship VN:</b><span class="tab-space">
    <%= @order.ship_vn.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Ship ID:</b><span class="tab-space"></p>

   <legend class="field"></legend>

   <p class="p_order"><b>Web price:</b><span class="tab-space">$<%= @order.web_price.to_f %></p>
   <p class="p_order"><b>Tax:</b><span class="tab-space">$<%= @order.tax.to_f %></p>
   <p class="p_order"><b>Shipping US: </b><span class="tab-space">$<%= @order.shipping_us.to_f %></p>
   <p class="p_order"><b>Reward:</b><span class="tab-space">$<%= @order.reward.to_f %></p>
   <p class="p_order"><b>Total:</b><span class="tab-space"><%= @order.web_price.to_f %> + <%= @order.tax.to_f %> + <%= @order.shipping_us.to_f %> - <%= @order.reward.to_f %> = $<%= @order.total.to_f %>
   </p>
   <p class="p_order"><b>Shipping VN:</b><span class="tab-space">$<%= @order.shipping_vn.to_f %></p>
   <p class="p_order"><b>Total cost:</b><span class="tab-space"><%= @order.total.to_f %> - <%= @order.shipping_vn.to_f %> = $<%= @order.total_cost.to_f %></p>

   <legend class="field"></legend>

   <p class="p_order"><b>Selling price:</b><span class="tab-space"><%= number_with_delimiter(@order.selling_price.to_f, :delimiter => ',') %></p>
   <p class="p_order"><b>Deposit:</b><span class="tab-space"><%= number_with_delimiter(@order.deposit.to_f, :delimiter => ',') %></p>
   <p class="p_order"><b>Profit:</b><span class="tab-space"><%= number_with_delimiter(@order.profit.to_f, :delimiter => ',') %></p>

   <legend class="field"></legend>

   <%= link_to "Edit", "", class: "btn btn-lg btn-warning" %>
   <%= link_to "Delete", "", class: "btn btn-lg btn-danger" %>

 </fieldset>

 </div>
</div>