<%= provide(:title, 'Order detail') %>

<div class="row nav-show">
<nav id="back_next">
  <ul class="pager">
    <li class="previous"><%= link_to raw('<span aria-hidden="true">&larr;</span> Previous'), 
                             user_order_path(current_user,@order.prev), class: "order_btn" %>
    </li>
    <li class="next"><%= link_to raw('Next <span aria-hidden="true">&rarr;</span>'),
                         user_order_path(current_user,@order.next), class: "order_btn" %>
    </li>
  </ul>
</nav>
<h1>Order #<%=@order.id%></h1>
</div>


<div class="row">
 <div class="col-md-6 col-md-offset-3">

 <fieldset class="field">
   <legend></legend>

   <p class="p_order"><b>Name:</b><span class="tab-space"><%= @order.name.capitalize %></p>
   <p class="p_order"><b>Quantity:</b></b><span class="tab-space"><%= @order.quantity %></p>
   <p class="p_order"><b>Customer:</b></b><span class="tab-space">
    <%= @order.customer.try(:name).try(:capitalize) %>
   </p>
   <p class="p_order"><b>Description:</b></b><span class="tab-space"><%= @order.description %></p>
   <p class="p_order"><b>Note:</b></b><span class="tab-space"><%= @order.note %></p>
   <p class="p_order"><b>Store:</b></b><span class="tab-space"><%= @order.store.try(:capitalize) %></p>

   <% if @order.image_link.present? %>
   <legend class="field"></legend>
   <img src="<%= @order.image_link %>" alt="Order image" height="200" width="300">
   <% end %>

   <legend class="field"></legend>

   <p class="p_order"><b>Order date:</b><span class="tab-space">
    <%= @order.order_date.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Receive US:</b><span class="tab-space">
    <%= @order.receive_us.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Ship VN:</b><span class="tab-space">
    <%= @order.ship_vn.try(:strftime, "%B %d, %Y") %>
   </p>
   <p class="p_order"><b>Ship ID:</b><span class="tab-space"></p>

   <legend class="field"></legend>

   <table class="table">
   <tbody class="p_order">
   <tr>
      <td><b>Web price:</b></td>
      <td><%= @order.web_price.to_f %></td>
   </tr>
   <tr>
      <td><b>Tax:</b></td>
      <td><%= @order.tax.to_f %></td>
   </tr>
   <tr>
      <td><b>Shipping US:</b></td>
      <td><%= @order.shipping_us.to_f %></td>
   </tr>
   <tr>
      <td><b>Reward:</b></td>
      <td><%= @order.reward.to_f %></td>
   </tr>
   <tr>
      <td><b>Total:</b></td>
      <td><%= @order.total.to_f %></td>
   </tr>
   <tr>
      <td><b>Shipping VN:</b></td>
      <td><%= @order.shipping_vn.to_f %></td>
   </tr>
   <tr>
      <td><b>Total cost:</b></td>
      <td><%= @order.total_cost.to_f %></td>
   </tr>
   </tbody>
   </table>


   <table class="table table-striped">
   <tbody class="p_order">
   <tr>
      <td><b>Selling price:</b></td>
      <td><%= number_with_delimiter(@order.selling_price.to_f, :delimiter => ',') %></td>
   </tr>
   <tr>
      <td><b>Deposit:</b></td>
      <td><%= number_with_delimiter(@order.deposit.to_f, :delimiter => ',') %></td>
   </tr>
   <tr>
      <td><b>Profit:</b></td>
      <td><%= number_with_delimiter(@order.profit.to_f, :delimiter => ',') %></td>
   </tr>
   </tbody>
   </table>

   <legend class="field"></legend>

   <%= link_to "Edit", edit_user_order_path(current_user,@order.id), class: "btn btn-lg btn-warning" %>
   <%= link_to "Delete", "", class: "btn btn-lg btn-danger" %>

 </fieldset>

 </div>
</div>