<% provide(:title, "#{@this_month.month_record.strftime('%B, %Y')} Sale Reports") %>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <legend class="sale-info">
    <h2><%= @this_month.month_record.strftime('%B, %Y') %></h2>
  </legend>
  <table class="table table-align">
    <thead>
    <tr class="active">
      <th width ="150">Orders</th>
      <th width ="150">Profit</th>
    </tr>
    </thead>

    <tbody>
    <tr style="border-bottom: 1px solid #eaeaea">
      <td style="font-size: 30px"><%= @order_sold %></td>
      <td style="font-size: 30px">$ <%= number_with_delimiter(@revenue, :delimiter => ',') %></td>
    </tr>
    </tbody>
  </table>

  <h3 class="sale-info">Sales summary</h3>

  <table class="table">
  <tbody class="p_order">
    <tr>
    <td><b>Total revenue:</b></td>
    <td></td>
    <td width="300">$ <%= number_with_delimiter(@total_selling, :delimiter => ',') %></td>
  </tr>
  <tr>
    <td><b>Total expenses:</b></td>
    <td></td>
    <td>$ <%= number_with_delimiter(@total_cost, :delimiter => ',') %></td>
  </tr>
  <tr style="border-bottom: 1px solid #eaeaea">
    <td></td>
    <td><b>Profit:</b></td>
    <td><b>$ <%= number_with_delimiter(@revenue, :delimiter => ',') %></b></td>
  </tr>
  </tbody>
  </table>

  <table class="table">
  <tbody class="p_order">
  <tr>
    <td style="border-top: none"><b>Total shipments:</b></td>
    <td style="border-top: none"></td>
    <td style="border-top: none"  width="300"><%= @shipment.count %></td>
  </tr>
  <tr>
    <td><b>Total shipping VN cost:</b></td>
    <td></td>
    <td>$ <%= number_with_delimiter(@total_shipping.to_f, :delimiter => ',') %></td>
  </tr>
  <tr>
    <td><b>Total rewards:</b></td>
    <td></td>
    <td>$ <%= number_with_delimiter(@total_reward.to_f, :delimiter => ',') %></td>
  </tr>
  </tbody>
  </table>


  <h3 class="sale-info">Order statuses</h3>
  <table class="table">
  <tbody class="p_order">
  <tr>
    <td><b>Received at US:</b></td>
    <td></td>
    <td width="300"><%= @received %> / <%= @order_sold %></td>
  </tr>
    <tr>
    <td><b>Shipped to VN (Completed):</b></td>
    <td></td>
    <td><%= @shipped %> / <%= @order_sold %></td>
  </tr>
  <tr>
    <td><b>For sale:</b></td>
    <td></td>
    <td><%= @for_sale %></td>
  </tr>
  </tbody>
  </table>

  <p class="text-center" style="font-size: 18px;">
  	<%= link_to "View orders >>", show_table_user_orders_path(current_user, :report => true, :report_id => @this_month.id), target: "_blank" %>
  </p>

</div>
</div>