<% provide(:title, 'Monthly Reports') %>

<div class="row">
<div class="col-md-10 col-md-offset-1">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <%= link_to "This month", user_report_path(current_user), class: "customer", method: :post %>
    </li>
    <li role="presentation">
      <%= link_to user_year_path(current_user), class: "customer", method: :get do %>
        <i class="fa fa-line-chart"></i> This year
      <% end %>
    </li>
    <li role="presentation" class="active">
      <%= link_to user_months_path(current_user), class: "customer" do %>
        <i class="fa fa-list"></i> Monthly Index
      <% end %>
    </li>
  </ul>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1">

  <%= render "months_table" %>

</div>
</div>

<!--
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    <%= link_to "Refresh", user_report_path(current_user), class: "sort-header", method: :post %>
  </button>
</div>
</div>
-->