<% provide(:title, 'Sale Reports') %>

<div class="row">
<div class="col-md-10 col-md-offset-1">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <%= link_to "This month", user_report_path(current_user), class: "customer", method: :post %>
    </li>
    <li role="presentation">
      <%= link_to user_year_path(current_user), class: "customer" do %>
        <i class="fa fa-line-chart"></i> This year
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to user_months_path(current_user), class: "customer" do %>
        <i class="fa fa-list"></i> Monthly Index
      <% end %>
    </li>
  </ul>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <legend class="sale-info">
    <h2>This month <small class="pull-right"><%= @this_month.month_record.try(:strftime, "%B, %Y") %></small></h2>
  </legend>
  <table class="table table-align">
    <thead>
    <tr class="active">
      <th width ="150">Orders</th>
      <th width ="150">Profit</th>
    </tr>
    </thead>

    <tbody>
    <tr style="border-bottom: 1px solid #eaeaea">
      <td style="font-size: 30px"><%= @this_month.order_sold %></td>
      <td style="font-size: 30px">$ <%= number_with_delimiter(@this_month.revenue.to_f.round, :delimiter => ',') %></td>
    </tr>
    </tbody>
  </table>

  <h3 class="sale-info">Sale summary</h3>

  <table class="table">
  <tbody class="p_order">
    <tr>
    <td><b>Total revenue:</b></td>
    <td></td>
    <td width="300">$ <%= number_with_delimiter(@this_month.total_selling.to_f, :delimiter => ',') %></td>
  </tr>
  <tr>
    <td><b>Total expenses:</b></td>
    <td></td>
    <td>$ <%= number_with_delimiter(@this_month.total_cost.to_f, :delimiter => ',') %></td>
  </tr>
  <tr>
    <td></td>
    <td><b>Profit:</b></td>
    <td><b>$ <%= number_with_delimiter(@this_month.revenue.to_f, :delimiter => ',') %></b></td>
  </tr>
  <tr>
    <td><b>Total shipping VN:</b></td>
    <td></td>
    <td>$ <%= number_with_delimiter(@total_shipping.to_f, :delimiter => ',') %></td>
  </tr>
  <tr>
    <td><b>Total reward:</b></td>
    <td></td>
    <td>$ <%= number_with_delimiter(@total_reward.to_f, :delimiter => ',') %></td>
  </tr>
  </tbody>
  </table>


  <h3 class="sale-info">Order statuses</h3>
  <table class="table">
  <tbody class="p_order">
    <tr>
    <td><b>Received at US</b></td>
    <td></td>
    <td width="300"><%= @received %> / <%= @this_month.order_sold %></td>
  </tr>
    <tr>
    <td><b>Shipped to VN:</b></td>
    <td></td>
    <td><%= @shipped %> / <%= @this_month.order_sold %></td>
  </tr>
  <tr>
    <td><b>For sale:</b></td>
    <td></td>
    <td><%= @for_sale %></td>
  </tr>
  </tbody>
  </table>



</div>
</div>